/* Base */

* {
    box-sizing: border-box;
    /* Making sure everything uses border-box sizing*/
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

.App-Portfolios {
    display: block;
    min-width: 100vh;
}

#addPortfolioButton {
    background-color: darkolivegreen;
    /* Green */
    border: none;
    color: white;
    padding: 20px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

button:hover {
    filter: opacity(0.7);
}

/*************
 * Portfolio *
 *************/

.App-Portfolio {
    background-color: whitesmoke;
    color: #282c34;
    margin: 20px;
    width: 80%;
    float: left;
}

.Portfolio-Title {
    margin: 30px;
    font-weight: 1000;
}

/* Buttons */

.Portfolio-Button {
    background-color: darkolivegreen;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.Exit {
    background-color: darkred;
    border-radius: 50%;
    float: right;
}

.row{
    width: 100%;
    padding: 10px;
}

/*Text Input*/
.form-group{
    display: inline-block;
}